<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUzsSp4Zt3fup1xa0znfV4tkKAzngW5Ek</string>
	<key>GCM_SENDER_ID</key>
	<string>461541333578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesapp</string>
	<key>PROJECT_ID</key>
	<string>notesapp-a5358</string>
	<key>STORAGE_BUCKET</key>
	<string>notesapp-a5358.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461541333578:ios:bb98a53c4a993d78d3a4b3</string>
</dict>
</plist>